<div class="row">
  <div class="col-6">
    <select [(ngModel)]="key" class="form-control">
      <option value="" selected>all</option>
      <option value="name" selected>Name</option>
      <option value="category" selected>Category</option>
    </select>
  </div>
  <div class="col-6 mb-3">
    <input class="form-control" [(ngModel)]="phrase" type="text">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th *ngFor="let col of cols">
            {{ col.title }}
          </th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of list$ | async | filter:key:phrase; index as i">
          <td>{{ (i+1) }}</td>
          <td *ngFor="let col of cols">
            {{ row[col.key] }}
          </td>
          <td>
            <div class="btn-group">
              <button (click)="onEdit(row)" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDelete(row)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
